{% extends 'base.html' %}
{% load static %}


{% block title %}محمدحسین محمودیان | تماس با من{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-0 pb-sm-2">
                            <h1 class="title title--h1 title__separate">تماس با من</h1>
                        </div>

                        <!-- Contact -->
                        <div class="map" id="map"></div>
                        <h2 class="title title--h2">فرم تماس با من</h2>

                        <form id="contact-form" class="contact-form" data-toggle="validator">
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <input type="text" class="input form-control" id="nameContact" name="nameContact"
                                           placeholder="نام و نام خانوادگی" required="required" autocomplete="on"
                                           oninvalid="setCustomValidity('لطفا نام و نام خانوادگی خود را وارد کنید.')"
                                           onkeyup="setCustomValidity('')">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <input type="email" class="input form-control" id="emailContact" name="emailContact"
                                           placeholder="ایمیل" required="required" autocomplete="on"
                                           oninvalid="setCustomValidity('ایمیل نادرست است.')"
                                           onkeyup="setCustomValidity('')">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    <textarea class="textarea form-control" id="messageContact" name="messageContact"
                                              placeholder="پیام..." rows="4" required="required"
                                              oninvalid="setCustomValidity('لطفا پیام خود را وارد کنید.')"
                                              onkeyup="setCustomValidity('')"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
                                    <div id="validator-contact" class="hidden"></div>
                                </div>
                                <div class="col-12 col-md-6 order-1 order-md-2 text-end">
                                    <button type="submit" class="btn"><i class="font-icon icon-send"></i> ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- /box-outer -->
                </div> <!-- /col -->
            </div> <!-- /sticky-parent -->
        </div> <!-- /container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}