{% extends 'base.html' %}
{% load static %}


{% block title %}محمدحسین محمودیان | تماس با من{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-0 pb-sm-2">
                            <h1 class="title title--h1 title__separate">تماس با من</h1>
                        </div>

                        <!-- Contact -->
                        <div class="map" id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2272.7374987506187!2d59.5484181195189!3d36.333248898319475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c9207cf3005b7%3A0xac8479527d6d09ee!2sFaramaz%20Abbasi%2C%20Mashhad%2C%20Razavi%20Khorasan%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1688408135388!5m2!1sen!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <h2 class="title title--h2">فرم تماس با من</h2>

                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    {{ form.name }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    {{ form.email }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    {{ form.message }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
                                    <div id="validator-contact" class="hidden"></div>
                                </div>
                                <div class="col-12 col-md-6 order-1 order-md-2 text-end">
                                    <button type="submit" class="btn"><i class="font-icon icon-send"></i> ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- /box-outer -->
                </div> <!-- /col -->
            </div> <!-- /sticky-parent -->
        </div> <!-- /container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}