{% extends 'base.html' %}
{% load static %}


{% block title %}محمدحسین محمودیان | تماس با من{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-0 pb-sm-2">
                            <h1 class="title title--h1 title__separate">تماس با من</h1>
                        </div>

                        <!-- Contact -->
                        <div class="map" id="map"></div>
                        <h2 class="title title--h2">فرم تماس با من</h2>

                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    {{ form.name }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    {{ form.email }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    {{ form.message }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
                                    <div id="validator-contact" class="hidden"></div>
                                </div>
                                <div class="col-12 col-md-6 order-1 order-md-2 text-end">
                                    <button type="submit" class="btn"><i class="font-icon icon-send"></i> ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- /box-outer -->
                </div> <!-- /col -->
            </div> <!-- /sticky-parent -->
        </div> <!-- /container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}