{% extends 'base.html' %}
{% load static %}

{% block title %}محمدحسین محمودیان | وبسایت شخصی{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-0 pb-sm-2">
                            <h1 class="title title--h1 title__separate">درباره من</h1>
                            <p>{{ about_me.about }}</p>
                        </div>

                        <!-- What -->
                        <h2 class="title title--h2 mt-3">چه کاری انجام می دهم</h2>
                        <div class="row">
                            {% for service in about_me.service.all %}
                                <!-- Case Item -->
                                <div class="col-12 col-lg-6">
                                    <div class="case-item box box-inner">
                                        {% if service.icon %}
                                            <img class="case-item__icon" src="{{ service.icon.url }}"
                                                 alt="{{ service.title }}"/>
                                        {% else %}
                                            {% if service.title == 'توسعه دهنده وب' %}
                                                <img class="case-item__icon" src="{% static 'icons/icon-design.svg' %}"
                                                     alt="{{ service.title }}"/>
                                            {% elif service.title == 'توسعه API' %}
                                                <img class="case-item__icon" src="{% static 'icons/icon-dev.svg' %}"
                                                     alt="{{ service.title }}"/>
                                            {% endif %}
                                        {% endif %}
                                        <div>
                                            <h3 class="title title--h3">{{ service.title }}</h3>
                                            <p class="case-item__caption">{{ service.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="case-item__caption">در حال حاضر خدماتی وجود ندارد !</p>
                            {% endfor %}
                        </div>

                        <!-- Testimonials -->
                        <div class="testimonials">
                            <h2 class="title title--h2 mt-3">نظرات مشتریان</h2>

                            <div class="swiper-container js-carousel-review">
                                <div class="swiper-wrapper">
                                    {% for comment in about_me.comment.all %}
                                        <!-- Item review -->
                                        <div class="swiper-slide review-item box box-inner js-open-review"
                                             data-mfp-src="#review-{{ comment.id }}" data-effect="mfp-zoom-out">
                                            <figure class="box box-avatar">
                                                <img src="{{ comment.profile.url }}" alt="{{ comment.name }}">
                                            </figure>
                                            <h4 class="title title--h3">{{ comment.name }}</h4>
                                            <p class="review-item__caption">{{ comment.text }}</p>
                                        </div>
                                    {% empty %}
                                        <p class="case-item__caption">در حال حاضر نظری وجود ندارد !</p>
                                    {% endfor %}
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                        </div>

                        <!-- Clients -->
                        <h2 class="title title--h2 mt-4">مشتریان</h2>
                        <div class="swiper-container js-carousel-clients">
                            <div class="swiper-wrapper">
                                {% for customer in about_me.customer.all %}
                                    <!-- Item client -->
                                    <figure class="swiper-slide">
                                        <a href="{{ customer.url }}"><img class="logo-client"
                                                                          src="{{ customer.logo.url }}"
                                                                          alt="{{ customer.title }}"/></a>
                                    </figure>
                                {% empty %}
                                    <p class="case-item__caption">در حال حاضر مشتری وجود ندارد !</p>
                                {% endfor %}
                            </div>

                            <div class="swiper-pagination"></div>
                        </div> <!-- /swiper-container -->
                    </div> <!-- box-outer -->
                </div> <!-- Content -->
            </div> <!-- sticky-parent -->
        </div> <!-- container -->
    </main>

    <div class="back-to-top"></div>

    {% for full_comment in about_me.comment.all %}
        <!-- Full review -->
        <div id="review-{{ full_comment.id }}" class="popup mfp-hide mfp-with-anim">
            <div class="row">
                <div class="col-12 col-sm-2 full-rewiew-con-avatar">
                    <figure class="box box-avatar">
                        <img src="{{ full_comment.profile.url }}" alt="Daniel Lewis">
                    </figure>
                    <div class="review-icon-quote"></div>
                </div>
                <div class="col-12 col-sm-10 full-rewiew-con-text">
                    <h2 class="title title--h2 mb-1">{{ full_comment.name }}</h2>
                    <span class="review-date">{{ full_comment.jalali_date }}</span>
                    <p>{{ full_comment.full_text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}