{% extends 'base.html' %}
{% load static %}

{% block title %}محمدحسین محمودیان | رزومه من{% endblock %}

{% block bodystyle %}bg-triangles{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-3">
                            <h1 class="title title--h1 title__separate">رزومه</h1>
                        </div>

                        <!-- Experience -->
                        <h2 class="title title--h2"><span class="box icon-box"><i
                                class="font-icon feathericon-book-open"></i></span>تحصیلات</h2>
                        <div class="timeline">
                            {% for education in my_resume.education.all %}
                                <!-- Item -->
                                <article class="timeline__item">
                                    <h5 class="title title--h5 timeline__title">{{ education.title }}</h5>
                                    <span class="timeline__period">{{ education.date_jalali }}</span>
                                    <p class="timeline__description">{{ education.description }}</p>
                                </article>
                            {% empty %}
                                <p class="timeline__description">در حال حاضر تحصیلاتی وجود ندارد</p>
                            {% endfor %}
                        </div>

                        <h2 class="title title--h2"><span class="box icon-box"><i
                                class="font-icon feathericon-briefcase"></i></span>تجربیات</h2>
                        <div class="timeline">
                            {% for experience in my_resume.experience.all %}
                                <!-- Item -->
                                <article class="timeline__item">
                                    <h5 class="title title--h5 timeline__title">{{ experience.title }}</h5>
                                    <span class="timeline__period">{{ experience.date_jalali }}</span>
                                    <p class="timeline__description">{{ experience.description }}</p>
                                </article>
                            {% endfor %}
                        </div>

                        <!-- Skills -->
                        <h2 class="title title--h2 mt-3">مهارت ها</h2>
                        <div class="box box-inner mb-0">
                            {% for skill in my_resume.skill.all %}
                                <!-- Web Design -->
                                <div class="progress">
                                    <div class="progress-text"><span>{{ skill.title }}</span> {{ skill.percentage }}%
                                    </div>
                                    <div class="progress-bar"><span role="progressbar"
                                                                    aria-valuenow="{{ skill.percentage }}"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100"></span></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!-- Content -->
            </div> <!-- sticky-parent -->
        </div> <!-- container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}