{% extends 'base.html' %}
{% load static %}

{% block title %}محمدحسین محمودیان | رزومه من{% endblock %}

{% block bodystyle %}bg-triangles{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-3">
                            <h1 class="title title--h1 title__separate">رزومه</h1>
                        </div>

                        <!-- Experience -->
                        <h2 class="title title--h2"><span class="box icon-box"><i
                                class="font-icon feathericon-book-open"></i></span>تحصیلات</h2>
                        <div class="timeline">
                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">مدرسه دانشگاه هنر</h5>
                                <span class="timeline__period">1394-1398</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>

                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">آکادمی هنر نیویورک</h5>
                                <span class="timeline__period">1392 — 1393</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>

                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">دبیرستان هنر و طراحی</h5>
                                <span class="timeline__period">1390 — 1392</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>
                        </div>

                        <h2 class="title title--h2"><span class="box icon-box"><i
                                class="font-icon feathericon-briefcase"></i></span>تجربیات</h2>
                        <div class="timeline">
                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">مدیر خلاق</h5>
                                <span class="timeline__period">1397 — اکنون</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>

                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">مدیر هنری</h5>
                                <span class="timeline__period">1395 — 1397</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>

                            <!-- Item -->
                            <article class="timeline__item">
                                <h5 class="title title--h5 timeline__title">طراح وب</h5>
                                <span class="timeline__period">1390 — 1395</span>
                                <p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است. </p>
                            </article>
                        </div>

                        <!-- Skills -->
                        <h2 class="title title--h2 mt-3">مهارت های طراحی</h2>
                        <div class="box box-inner mb-0">
                            <!-- Web Design -->
                            <div class="progress">
                                <div class="progress-text"><span>طراحی وب</span> 80%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                                                aria-valuemax="100"></span></div>
                            </div>

                            <!-- Web Design -->
                            <div class="progress">
                                <div class="progress-text"><span>طراحی گرافیک</span> 75%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                                                aria-valuemax="100"></span></div>
                            </div>

                            <!-- Web Design -->
                            <div class="progress">
                                <div class="progress-text"><span>برندسازی</span> 90%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                                                aria-valuemax="100"></span></div>
                            </div>

                            <!-- Web Design -->
                            <div class="progress">
                                <div class="progress-text"><span>وردپرس</span> 50%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100"></span></div>
                            </div>

                        </div>
                    </div>
                </div> <!-- Content -->
            </div> <!-- sticky-parent -->
        </div> <!-- container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}