{% load static %}
<!-- Meta Data -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
<meta name="author" content="MohammadHosseinMahmoudian"/>
<meta name="description" content="vCard"/>

<!-- Twitter data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mahmodian8713">
<meta name="twitter:title" content="vCard">
<meta name="twitter:description" content="vCard">
<meta name="twitter:image" content="assets/images/social.html">

<!-- Open Graph data -->
<meta property="og:title" content="ArtTemplate"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="hoseiintech.ir"/>
<meta property="og:image" content="assets/images/social.html"/>
<meta property="og:description" content="vCard"/>
<meta property="og:site_name" content="vCard"/>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-touch-icon-57x57.png' %}">
{% if icon_site.icon %}
    <link rel="shortcut icon" href="{{ icon_site.icon.url }}" type="image/png">
{% else %}
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.png' %}" type="image/png">
{% endif %}

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="{% static 'styles/vendors/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/rtl.css' %}"/>