{% extends 'base.html' %}
{% load static %}

{% block title %}محمدحسین محمودیان | وبلاگ{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer pb-0">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-0 pb-sm-2">
                            <h1 class="title title--h1 title__separate">وبلاگ</h1>
                        </div>

                        <!-- News -->
                        <div class="news-grid">
                            {% for article in articles %}
                                <!-- Post -->
                                <article class="news-item box">
                                    <div class="news-item__image-wrap">
                                        <a class="news-item__link" href="{{ article.get_absolute_url }}"></a>
                                        <img class="cover lazyload" src="{{ article.image.url }}"
                                             alt="{{ article.title }}"/>
                                    </div>
                                    <div class="news-item__caption">
                                        <div class="news-item__date">
                                            <span>{{ article.category }}</span>{{ article.get_jalali_date }}</div>
                                        <h2 class="title title--h2"><a
                                                href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                        </h2>
                                        <p>{{ article.short_description }}</p>
                                    </div>
                                </article>
                            {% empty %}
                                <h2 class="title title--h2">در حال حاضر مقاله ای وجود ندارد.</h2>
                            {% endfor %}
                        </div> <!-- /news-grid -->
                    </div> <!-- /box-outer -->
                    <div class="pagination" style="width: 10%; margin: 15px auto;">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">اولین</a>
                                <a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="feathericon-arrow-right-circle"></i></a>
                            {% endif %}

                            <span class="current">{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i
                                        class="feathericon-arrow-left-circle"></i></a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">آخرین</a>
                            {% endif %}
                        </span>
                    </div>
                </div> <!-- /col -->
            </div> <!-- /sticky -->
        </div> <!-- /container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}