{% extends 'base.html' %}
{% load static %}

{% block title %}محمدحسین محمودیان | نمونه کارها{% endblock %}

{% block content %}
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer pb-0">
                        <!-- Menu -->
                        {% include 'includes/navbar.html' %}

                        <!-- About -->
                        <div class="pb-3">
                            <h1 class="title title--h1 title__separate">نمونه کار ها</h1>
                        </div>

                        <!-- Gallery -->
                        <div class="gallery-grid js-masonry js-filter-container">
                            <div class="gutter-sizer"></div>
                            {% for project in portfolio_list %}
                                <!-- Item 1 -->
                                <div class="gallery-grid__item category-design">
                                    <a href="{{ project.get_absolute_url }}">
                                        <div class="gallery-grid__image-wrap">
                                            <img class="gallery-grid__image cover lazyload"
                                                 src="{{ project.image.url }}" alt=""/>
                                        </div>
                                        <div class="gallery-grid__caption">
                                            <h3 class="title gallery-grid__title">{{ project.title }}</h3>
                                            <span class="gallery-grid__category">{{ project.category }}</span>
                                        </div>
                                    </a>
                                </div>
                            {% empty %}
                                <h3 class="gallery-grid__category gallery-grid__item">در حال حاضر پروژه ای وجود
                                    ندارد.</h3>
                            {% endfor %}

                        </div> <!-- /Gallery -->
                    </div>
                    <div class="pagination" style="width: 15%; margin: 15px auto;">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">اولین</a>
                                <a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="feathericon-arrow-right-circle"></i></a>
                            {% endif %}

                            <span class="current">{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i
                                        class="feathericon-arrow-left-circle"></i></a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">آخرین</a>
                            {% endif %}
                        </span>
                    </div>
                </div> <!-- Content -->
            </div> <!-- sticky-parent -->
        </div> <!-- container -->
    </main>

    <div class="back-to-top"></div>
{% endblock %}